@import "tailwindcss";



:root {
  --background: 243 243 243;
  --background-secondary: 238 238 238;
  --foreground: 23 23 23;
  --neutral: 250 250 250;
  --primary: 255 186 0;
  --dark-secundary-100:26 26 26;
  --dark-secundary-70:94 94 94;

}



@theme inline {
  --color-background: rgb(243 243 243);
  --color-background-secondary: rgb(238 238 238); /* EEEEEE */
  --color-foreground: rgb(var(--foreground));
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);
  --color-neutral: rgb(250 250 250);
  --color-primary: rgb(255 186 0); /* FFBA00 */
  --color-dark-secundary-100: rgb(26 26 26);
  --color-dark-secundary-70: rgb(94 94 94);
}



  input:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
    border-width: 0 !important;
    border-style: none !important;
    border-radius: 0 !important;
    border-color: transparent !important;
    border-width: 0 !important;
    border-style: none !important;
    border-radius: 0 !important;
  }

